body {
  font-family: "Montserrat", sans-serif;
}

/* Header */
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 90px;
}

.nav .active {
  color: #10c9c3;
}

.nav-link {
  color: black;
}

.menu-right {
  width: 20%;
  font-weight: 600;
  font-size: 15px;
}

.menu ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.heading {
  text-align: center;
  background-image: url(../Images/about/banner1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0;
  color: white;
}

.heading h1 {
  font-size: 40pt;
  font-weight: 600;
  margin-bottom: 30px;
}

.heading p {
  font-size: 13pt;
  font-weight: 500;
}

/* End Header */

/* Feature */
.feature-content {
  padding: 80px 80px;
}

.feature-box {
  display: flex;
  align-items: center;
  color: white;
}

.feature-box .icon {
  font-size: 28pt;
}

.feature-box p {
  margin: 7px 25px;
}

.feature-box .number {
  font-size: 18pt;
  font-weight: 600;
}

.feature-box .text {
  font-size: 12pt;
  font-weight: 500;
}

/* End Feature */

/* About Me */
.about-me .about-content {
  padding: 0px 130px;
}

.about-me h2 {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 30pt;
}

.about-me p {
  font-size: 12pt;
  color: #787878;
  font-weight: 500;
}

.about-me img {
  width: 100%;
  height: auto;
}

.about-me .image {
  padding: 0;
}

.about-content img {
  width: auto;
}
/* End About Me */

/* Project */
.project {
  text-align: center;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project h1 {
  font-weight: 600;
  margin-bottom: 30px;
}

.project p {
  font-size: 13pt;
  color: #787878;
  font-weight: 500;
}

.button {
  background-color: #10c9c3;
  padding: 20px 50px;
  color: white;
  font-weight: 600;
  font-size: 12pt;
  width: fit-content;
  margin-top: 30px;
}
/* End Project */

/* Footer */
.footer {
  background-color: black;
  padding: 70px;
  color: #bcbcbc;
}

.footer .company {
  color: white;
  font-size: 22px;
  font-weight: 600;
}
/* End Footer */