body {
  font-family: "Montserrat", sans-serif;
}

/* Header */
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 90px;
}

.nav .active {
  color: #10c9c3;
}

.nav-link {
  color: black;
}

.menu-right {
  width: 20%;
  font-weight: 600;
  font-size: 15px;
}

.menu ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.heading {
  text-align: center;
  background-color: #F6F6F6;
  padding: 100px 0;
}

.heading h1 {
  font-weight: 600;
  margin-bottom: 30px;
}

.heading p {
  font-size: 13pt;
  color: #787878;
  font-weight: 500;
}

/* End Header */

/* Products */
.products .col-3 {
  padding: 0;
}

.products img {
  width: 100%;
  height: auto;
}

/* End Products */

/* Footer */
.footer {
  background-color: black;
  padding: 70px;
  color: #bcbcbc;
}

.footer .company {
  color: white;
  font-size: 22px;
  font-weight: 600;
}
/* End Footer */